
    html, body{
    overflow-y: 0;
}

body{
    background-color: rgb(24, 24, 24);
    color: #fff;
}

/* Fancy stuff */

/* custom scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(48, 48, 48);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(39, 37, 37) 
  }
  

hr{
    width: 20%;
    border: 10px dotted white;
    border-style: none none dotted; 
    color: white; 
    background-color: transparent;
    padding: 3%;
    margin: 0 auto;
}

section{
    position: relative;
}


/* The main navigation */

.main-nav{
    padding: 2%;
    color: #fff;
}

.navbar-customclass{
    position: sticky;
}



.btn-contact{
    border-radius: 5px;
    background-color: rgb(39, 37, 37);
    width: 100%;
    height: 100%;
    box-shadow: 0 20px 30px rgba(0,0,0,0.3);
    font-weight: bold;
    transition: all ease-in-out 0.3s;
    position: relative;
    color: #fff;
    padding-top: 0;
}

.btn-contact::after{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(39, 37, 37);
    opacity: 0;
    box-shadow: 0 25px 35px rgba(0,0,0,0.15);
    transition: opacity 0.3s ease-in-out;
    
}

.btn-contact:hover::after{
    opacity: 1;
}

.btn-contact:hover{
    color: white;
    transform: scale(1.2, 1.2);
}


.btn-submit{
    border-radius: 5px;
    background-color: rgb(39, 37, 37);
    width: 50%;
    height: 100%;
    box-shadow: 0 20px 30px rgba(0,0,0,0.3);
    font-weight: bold;
}
.nav-options{
    padding-right: 1px;  
}


h1{
    font-family: 'PT Serif', serif;
    background-image: linear-gradient(35deg, #c6d639, #eb6cc5, #98c3e0);
    background-size: 100%;
    background-clip: text;
    font-weight: bold;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}



.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 138px;
}

.wave .shape-fill {
    fill: #232323;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .wave svg {
        width: calc(100% + 1.3px);
        height: 61px;
    }
}

/* thank you page */

.vertical-center{
    min-height: 100%;  
    min-height: 100vh; 
  
    display: flex;
    align-items: center;
}


.thanks{
    font-weight: 800;
    font-size: 1.6em;
}



.btn-grad {background-image: linear-gradient(to right, #b83adf 0%, #eb6cc5  41%, #98c3e0 100%)}
.btn-grad {


   font-family: 'Fredoka One', cursive;
   width: 40%;
   margin: 10px;
   padding: 15px 20px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: #000;     
   font-weight: bold;      
   box-shadow: 0 20px 30px rgba(0,0,0,0.3);
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #000;
   font-weight: bold;
   text-decoration: none;
   transform: scale(1.05, 1.05);
   box-shadow: 0 40px 50px rgba(0,0,0,0.3);
 }
